Node-RED/flows.json
[
    {
        "id": "316cdc00.ff4574",
        "type": "tab",
        "label": "mindstorms uselessss box",
        "disabled": false,
        "info": ""
    },
    {
        "id": "efc768ee.606268",
        "type": "debug",
        "z": "316cdc00.ff4574",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 870,
        "y": 500,
        "wires": []
    },
    {
        "id": "79ac5b9b.701b74",
        "type": "ui_button",
        "z": "316cdc00.ff4574",
        "name": "switch_up",
        "group": "43384344.1d96cc",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "black ",
        "bgcolor": "white",
        "icon": "fa-arrow-circle-o-up",
        "payload": "",
        "payloadType": "str",
        "topic": "rovale/vkv/ub/switch_up",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "efc768ee.606268",
                "ab1ddf4d.313bb"
            ]
        ]
    },
    {
        "id": "7d7d3cb9.034fb4",
        "type": "ui_button",
        "z": "316cdc00.ff4574",
        "name": " move_to_right",
        "group": "43384344.1d96cc",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "black ",
        "bgcolor": "white",
        "icon": "fa-arrow-circle-o-right",
        "payload": "",
        "payloadType": "str",
        "topic": "rovale/vkv/ub/move_to_right",
        "x": 740,
        "y": 220,
        "wires": [
            [
                "efc768ee.606268",
                "ab1ddf4d.313bb"
            ]
        ]
    },
    {
        "id": "43415704.b61a48",
        "type": "ui_button",
        "z": "316cdc00.ff4574",
        "name": "move_to_left",
        "group": "43384344.1d96cc",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "black ",
        "bgcolor": "white",
        "icon": "fa-arrow-circle-o-left",
        "payload": "",
        "payloadType": "str",
        "topic": "rovale/vkv/ub/move_to_left",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "efc768ee.606268",
                "ab1ddf4d.313bb"
            ]
        ]
    },
    {
        "id": "65cab488.c4710c",
        "type": "ui_button",
        "z": "316cdc00.ff4574",
        "name": "switch_down",
        "group": "43384344.1d96cc",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "black ",
        "bgcolor": "white",
        "icon": "fa-arrow-circle-o-down",
        "payload": "",
        "payloadType": "str",
        "topic": "rovale/vkv/ub/switch_down",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "efc768ee.606268",
                "ab1ddf4d.313bb"
            ]
        ]
    },
    {
        "id": "c30a7c1a.cc77c",
        "type": "ui_button",
        "z": "316cdc00.ff4574",
        "name": "wait",
        "group": "43384344.1d96cc",
        "order": 1,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "black",
        "bgcolor": "white",
        "icon": "fa-hourglass",
        "payload": "",
        "payloadType": "str",
        "topic": "rovale/vkv/ub/wait",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "efc768ee.606268",
                "ab1ddf4d.313bb"
            ]
        ]
    },
    {
        "id": "ab1ddf4d.313bb",
        "type": "mqtt out",
        "z": "316cdc00.ff4574",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "59ee8ac7.042ac4",
        "x": 1010,
        "y": 40,
        "wires": []
    },
    {
        "id": "463b834a.ca76bc",
        "type": "ui_button",
        "z": "316cdc00.ff4574",
        "name": " prank",
        "group": "43384344.1d96cc",
        "order": 7,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "black",
        "bgcolor": "white",
        "icon": "fa-bug ",
        "payload": "",
        "payloadType": "num",
        "topic": "rovale/vkv/ub/prank",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "efc768ee.606268",
                "ab1ddf4d.313bb"
            ]
        ]
    },
    {
        "id": "285721c8.a7e11e",
        "type": "ui_button",
        "z": "316cdc00.ff4574",
        "name": "super_move",
        "group": "43384344.1d96cc",
        "order": 9,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "black",
        "bgcolor": "white",
        "icon": "fa-arrows ",
        "payload": "",
        "payloadType": "str",
        "topic": "rovale/vkv/ub/super_move",
        "x": 750,
        "y": 400,
        "wires": [
            [
                "efc768ee.606268",
                "ab1ddf4d.313bb"
            ]
        ]
    },
    {
        "id": "43dd65c7.db3f9c",
        "type": "ui_button",
        "z": "316cdc00.ff4574",
        "name": "ok_google",
        "group": "43384344.1d96cc",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "black",
        "bgcolor": "white",
        "icon": "hearing",
        "payload": "",
        "payloadType": "str",
        "topic": "rovale/vkv/ub/ok_google",
        "x": 710,
        "y": 80,
        "wires": [
            [
                "ab1ddf4d.313bb",
                "efc768ee.606268"
            ]
        ]
    },
    {
        "id": "f9398608.881e88",
        "type": "ui_switch",
        "z": "316cdc00.ff4574",
        "name": "is_switched_on",
        "label": "",
        "group": "43384344.1d96cc",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "fa-power-off",
        "oncolor": "red",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "fa-power-off",
        "offcolor": "grey",
        "x": 540,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "753dd9e0.125cd8",
        "type": "mqtt in",
        "z": "316cdc00.ff4574",
        "name": "mqtt",
        "topic": "rovale/vkv/ub/is_switched_on",
        "qos": "0",
        "broker": "59ee8ac7.042ac4",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "f9398608.881e88"
            ]
        ]
    },
    {
        "id": "43384344.1d96cc",
        "type": "ui_group",
        "z": "",
        "name": "The useless box",
        "tab": "e5d3d282.08efd",
        "order": 1,
        "disp": true,
        "width": "3"
    },
    {
        "id": "59ee8ac7.042ac4",
        "type": "mqtt-broker",
        "z": "",
        "broker": "m2m.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "e5d3d282.08efd",
        "type": "ui_tab",
        "z": "",
        "name": "Vinkeveen",
        "icon": "dashboard",
        "order": 2
    }
]